<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sdllabproject1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".hi"></activity>
        <activity
            android:name=".newnoteactivity"
            android:parentActivityName=".smartui" />
        <activity
            android:name=".smartui"
            android:launchMode="singleTop" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagerActivity" />
        <activity android:name=".AssignTasksActivity" />
        <activity android:name=".addtaskActivity" />
        <activity android:name=".viewEOD" />
        <activity android:name=".adminMenu" />
        <activity android:name=".employee1" />
        <activity android:name=".admin1" />
        <activity android:name=".adminpage" />
        <activity android:name=".employeepage" />
        <activity android:name=".addProjectForm" />
        <activity android:name=".adminEOD" />
        <activity android:name=".AssignEmployeeActivity" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>